@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

body, html {
    font-family: 'Lato Regular';
    overflow-x:hidden;
}

header {
    background: #0357ab;
    width: 100%;
    height: 60px;
}

.hContainer {
    margin: auto;
    width: 1440px;
    height: 50px;
    color: white;
    font-size: 16px;
    line-height: 30px;
}

.contactList {
    margin-left: 160px;
}

.contactList>li {
    float: left;
  /*  border: 1px solid red;  */
    margin-right: 15px;
    margin-top: 20px;
}

.facebookIcons {
    height: 45px;
    width: 45px;
    margin-top: 5px;
}

.viberIcons {
    height: 45px;
    width: 45px;
    margin-top: 5px;
}

.contactListImg>li {
    margin-right: 20px;
    float: right;
}


.mapIcons {
    height: 35px;
    width: 35px;
    margin-top: -10px;
    margin-left: 20px;
    margin-right: 10px;
    float: left;
}

.mailIcons {
    height: 35px;
    width: 35px;
    margin-top: -10px;
    margin-right: 10px;
    float: left;
}

.callIcons {
    height: 35px;
    width: 35px;
    margin-top: -10px;
    margin-right: 10px;
    float: left;
}

/* infoLine End  */

/* navBegin */

.navContainer {
    width: 1440px;
    height: 75px;
    margin: auto;
    margin-top: 10px;
}

.siteLogo {
    color: #0655a2;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.menuNav {
    margin-left: 50px;
    float: left;
    font-size: 18px;
    height: 70px;
}

.menuNav>li {
    display: inline-block;
    margin-right: 30px;
    height: 100%;
    line-height: 70px;
}

.aNav {
    color: #494949;
    text-decoration: none;
}

.aNav:hover {
    text-decoration: underline;
}

.appointmentDoctor {
    width: 220px;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 25px;
    color: #ffffff;
    background: #eb221c;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.appointmentDoctor:hover {
    background: rgb(255, 60, 0);
}

.appointmentDoctor>p {
    margin-top: 5px;
    margin-left: 90px;
}

.appointmentDoctor>img {
    float: left;
    height: 40px;
    width: 40px;
    margin-left: 30px;
    margin-top: 5px;
}

.helsiInfo {
    width: 150px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 25px;
    color: #ffffff;
    background: #0257aa;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.helsiInfo:hover {
    outline: 3px solid #0093c0;
}

.helsiInfo>img {
    height: 40px;
    width: 40px;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 10px;
}

/* Header end */

.doctors {
    width: 100%;
    margin-top: 70px;
}

.doctorsContainer {
    width: 1440px; 
    min-height: 690px;
    margin: auto;
}

.breadCrumbsBlock {
    height: 40px;
    font-size: 16px;
    padding-left: 175px;
    font-weight: bold;
    border-top: 1px solid gray;
}

.breadCrumbsList li {
    display: inline-block;
    margin: 15px 5px;
    color: gray;
}

.breadCrumbsLink>li:hover {
    text-decoration: underline;
}

/* breadCrumbs end */

.choice {
    margin-top: 20px;
    margin-left: 20px;
}

.ambulatorias {
    width: 250px;
    padding: 20px;
    float: left;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 25px;
}

.ambulatorias li {
    background: #0357ab;
    margin-bottom: 20px;
    height: 30px;
    width: 250px;
    border-radius: 25px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}

.ambulatorias li:hover {
    background: red;
}

.doctorsReview {
    display: inline-block;
    width: 1080px;
    height: 1000px;
    padding: 20px;
    border: 1px solid black;
}


.ambulatoria1 {
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 2px 3px rgb(206, 205, 205);
    margin-bottom: 30px;
}

.ambulatoria1:hover {
    box-shadow: 0px 0px 5px 3px #0357ab;
}

.ambulatoria1>img {
    height: 250px;
    width: 350px;
    float: left;
}

.ambulatoria1Info {
    height: 210px;
    width: 960px;
    margin-left: 360px;
    padding: 20px;
    position: relative;
}

.ambulatoria1Info>h2 {
    color: red;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0px;
}

.contactInfo {
    position: absolute;
    bottom: 0px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 20px;
}

.ambulatoria1Info>p {
    
}

.pAmbulatoria {
    margin-top: 0px;
    margin-bottom: 50px;
    color: gray;
    font-weight: bold;
    font-size: 16px;
}

.ambulatoria1Info > iframe {
    position: absolute;
    right: 0px;
    top: 0px;
}





























































footer {
    width: 100%;
    background: #0357ab;
    position: relative;
    color: white;
    text-align: center;
}

.footerContainer {
    width: 1440px;
    height: 80px;
    margin: auto;
    position: relative;
}

.contactListFooter {
    width: 700px;
    height: 50px;
    margin: auto;
    font-size: 18px;
}

.contactListFooter>li {
    float: left;
  /*  border: 1px solid red;  */
    margin-right: 15px;
    margin-top: 20px;
}

.contactFooter>p {
    float: left;
    width: 30%; 
    border: 1px solid white;
    margin-left: 2.5%;
    margin-top: 30px;
}

.copyrightLane {
    border-bottom: 2px solid white;
    position: absolute;
    width: 100%;
    bottom: 50px;
}

.copyright {
    padding-bottom: 20px;
    font-size: 20px;
}