@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

body, html {
    font-family: 'Lato Regular';
    overflow-x:hidden;
}

header {
    background: #0357ab;
    width: 100%;
    height: 60px;
}

.hContainer {
    margin: auto;
    max-width: 1440px;
    height: 50px;
    color: white;
    font-size: 16px;
    line-height: 30px;
    position: relative;
}

.contactList {
    margin-left: 160px;
}

.contactList>li {
    float: left;
  /*  border: 1px solid red;  */
    margin-right: 15px;
    margin-top: 20px;
}

.facebookIcons {
    height: 45px;
    width: 45px;
    margin-top: 5px;
}

.viberIcons {
    height: 45px;
    width: 45px;
    margin-top: 5px;
}

.contactListImg {
    float: right;
}

.contactListImg>li {
    margin-right: 20px;
    float: right;
}


.mapIcons {
    height: 35px;
    width: 35px;
    margin-top: -10px;
    margin-left: 20px;
    margin-right: 10px;
    float: left;
}

.mailIcons {
    height: 35px;
    width: 35px;
    margin-top: -10px;
    margin-right: 10px;
    float: left;
}

.callIcons {
    height: 35px;
    width: 35px;
    margin-top: -10px;
    margin-right: 10px;
    float: left;
}

/* infoLine End  */

/* navBegin */

.navContainer {
    max-width: 1440px;
    height: 75px;
    margin: auto;
    margin-top: 10px;
}

.siteLogo {
    color: #0655a2;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.menuNav {
    margin-left: 50px;
    float: left;
    font-size: 18px;
    height: 70px;
}

.menuNav>li {
    display: inline-block;
    margin-right: 30px;
    height: 100%;
    line-height: 70px;
}

.aNav {
    color: #494949;
    text-decoration: none;
}

.aNav:hover {
    text-decoration: underline;
}

.appointmentDoctor {
    width: 220px;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 25px;
    color: #ffffff;
    background: #eb221c;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.appointmentDoctor:hover {
    background: rgb(255, 60, 0);
}

.appointmentDoctor>p {
    margin-top: 5px;
    margin-left: 90px;
}

.appointmentDoctor>img {
    float: left;
    height: 40px;
    width: 40px;
    margin-left: 30px;
    margin-top: 5px;
}

.helsiInfo {
    width: 150px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 25px;
    color: #ffffff;
    background: #0257aa;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.helsiInfo:hover {
    outline: 3px solid #0093c0;
}

.helsiInfo>img {
    height: 40px;
    width: 40px;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 10px;
}

.mobileContainer {
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: 999; /* ! */
}

.mobileContainer {
    display: none;
}

.menuMobile {
    display: none;
}

.contactMobile {
    display: none;
}



@media (max-width: 1280px) {
    .appointmentDoctor {
        width: 15%; 
        height: 50px;
    }

    .appointmentDoctor>p {
        margin-top: 5px;
        margin-left: 60px;
    }
    
    .appointmentDoctor>img {
        height: 40px;
        width: 40px;
        margin-left: 10px;
        margin-top: 5px;
    }


    .helsiInfo {
        width: 10%;
        height: 50px;
        font-size: 18px;
        line-height: 50px;
        margin-top: 10px;
        margin-right: 20px;
    }
    
    .helsiInfo:hover {
        outline: 3px solid #0093c0;
    }
    
    .helsiInfo>img {
        height: 40px;
        width: 40px;
        margin-left: 10px;
        margin-top: 5px;
        margin-right: 5px;
    }

}

@media (max-width: 1140px) {
    .appointmentDoctor {
        width: 170px; 
        height: 50px;
    }

    .appointmentDoctor>p {
        margin-top: 5px;
        margin-left: 60px;
    }
    
    .appointmentDoctor>img {
        height: 40px;
        width: 40px;
        margin-left: 10px;
        margin-top: 5px;
    }


    .helsiInfo {
        display: none;
}
}









@media (max-width: 600px) {

    .mobileContainer {
        display: block;
    }

    .menuMobile {
        display: block;
        width: 60px;
        height: 60px;
    }

    .menuMobile > img {
        width: 80%;
        height: 80%;
        margin-top: 10%;
        margin-left: 10%;
    }

    .contactList {
        background: red;
        display: absolute;
        left: 0px;
        width: 30px;
        height: 60px;
        display: block;
    }


    .contactMobile {
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
        height: 60px;
        width: 60px;
    }

    .contactMobile > img {
        width: 60%;
        height: 60%;
        position: absolute;
        right: 10px;
        top: 20%;
    }

    .siteLogo {
        position: absolute;
        top: 0px;
        color: #ffffff;
        left: 25%;
        font-size: 20px;
        text-align: center;
        width: 50%;
    }

    .hContainer {
        height: 50px;
    }

    .contactListImg {
        display: none;
    }

    .contactList {
        position: absolute;
        left: -45%;
        top: 65px;
        font-size: 14px;
        background: #0257aa;
        height: 150px;
        width: 80%;
        padding: 20px;
        display:none;
    }

    .imgGGG:hover .menuMobileNav {
        display: block;
    }

    .menuMobileNav {
        background: #0257aa;
        outline: 3px solid red;
        position: fixed;
        width: 60%;
        height: 280px;
        display: none;
    }

    .menuMobile:hover .menuMobileNav{
        display: block;
    }

    .menuMobileNav > li {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        font-size: 16px;
    }

    .menuMobileNav > li:hover {
        background: lightblue;
    }

    .aMobileNav {
        text-decoration: none;
        color: #fff;
    }
    

    .mobileInfo {
        background: #0257aa;
        width: 300px;
        height: 180px;
        position: fixed;
        left: 10px;
        top: 80px;
        display: none;
    }

    .mobileContactList {
        color: #ffffff;
        font-size: 16px;
    }

    .mobileContactList>li {
        margin-top: 30px;
    }

    .contactMobile:hover .mobileInfo {
        display: block;
    }

    .menuNav, .appointmentDoctor, .helsiInfo {
        display: none;
    }

    /* .hospitalLogo in style.css */
}

/* Header end */