


h2 {
     text-align: center;
}

.aboutHospital {
    max-width: 1440px;
    margin: auto;
}

.newsNumber {
    width: 90%;
    margin: auto;
    min-height: 500px;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0px 1px 4px 3px rgb(155, 155, 155);
}

.list-for li {
    margin-top: 10px;
    list-style-type: disc;
    margin-left: 20px;
}

ol {
    margin-top: 20px;
}

ol li {
    list-style-type: decimal;
    margin-left: 20px;
    line-height: 25px;
}

.dostupniLikiLink {
    color: orange;
    text-decoration: none;
}

.pDostupniLikiLink {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 600px) { 
   
    .breadCrumbsBlock {
        padding-left: 75px;
    }
    
    .breadCrumbsList li {
        margin: 20px 5px;
    }

    .aboutHospital {
        margin-top: -70px;
    }

    .newsNumber {
        width: 80%;
    }
    
    }


    @media (max-width: 450px) {
    
        .breadCrumbsBlock {
            padding-left: 5px;
        }
    
        .breadCrumbsList li {
            margin: 15px 5px;
            margin-bottom: 0px;
        }
    
    }