

header {
    background: #0357ab;
    width: 100%;
    height: 60px;
}

.hContainer {
    margin: auto;
    width: 1440px;
    height: 50px;
    color: white;
    font-size: 22px;
}

.contactList>li {
    float: left;
  /*  border: 1px solid red;  */
    margin-right: 15px;
    margin-top: 20px;
}

.facebookIcons {
    height: 45px;
    width: 45px;
    margin-top: 5px;
}

.viberIcons {
    height: 45px;
    width: 45px;
    margin-top: 5px;
}

.contactListImg>li {
    margin-right: 20px;
    float: right;
}


.mapIcons {
    height: 45px;
    width: 45px;
    margin-top: -15px;
    margin-left: 20px;
    margin-right: 10px;
    float: left;
}

.mailIcons {
    height: 45px;
    width: 45px;
    margin-top: -15px;
    margin-right: 10px;
    float: left;
}

.callIcons {
    height: 45px;
    width: 45px;
    margin-top: -15px;
    margin-right: 10px;
    float: left;
}

/* infoLine End  */

/* navBegin */

.navContainer {
    width: 1440px;
    height: 75px;
    margin: auto;
    margin-top: 10px;
}

.siteLogo {
    color: #0655a2;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.menuNav {
    margin-left: 100px;
    float: left;
    font-size: 25px;
    height: 70px;
}

.menuNav>li {
    display: inline-block;
    margin-right: 30px;
    height: 100%;
    line-height: 70px;
}

.aNav {
    color: #494949;
    text-decoration: none;
}

.aNav:hover {
    text-decoration: underline;
}

.appointmentDoctor {
    width: 220px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    border-radius: 25px;
    color: #ffffff;
    background: #eb221c;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.appointmentDoctor>img {
    float: left;
    height: 40px;
    width: 40px;
    margin-left: 30px;
    margin-top: 5px;
}

.helsiInfo {
    width: 150px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    border-radius: 25px;
    color: #ffffff;
    background: #0257aa;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.helsiInfo>img {
    height: 40px;
    width: 40px;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 10px;
}

/* Header end */

.hospitalLogo {
    width: 100%;
    height: 500px;
    border: 2px solid red;
    margin-top: 70px;
    background: url('../img/hospitalLogo.jpg');
    background-size: 100%;
}

.hospitalLogoContainer {
    width: 1440px;
    margin: auto;
}

.aboutSite {
    width: 100%;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid black;
    position: relative;
}

.aboutSite>p {
    margin-left: 220px;
    margin-top: 20px;
}

.button3 {
    background: red;
    color: black;
    position: absolute;
    bottom: 75px;
    left: 220px;
}

.button4 {
    border: 2px solid white;
    position: absolute;
    bottom: 75px;
    left: 400px;
    color: black;
}

.aboutNavLeft {
    position: absolute;
    left: 20px;
    top: 125px;
}

.aboutNavRight {
    position: absolute;
    right: 20px;
    top: 125px;
}

/* hospitalLogoEnd*/

.info {
    height: 500px;
    width: 100%;
}

.infoContainer {
    width: 1440px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    border: 2px solid orange;
    position: relative;
}

.mainInfoBlock {
    border: 2px solid green;
    height: 200px;
    width: 45%;
    position: absolute;
    left: 5%;
}

.infoBlock {
    border: 2px solid magenta;
    height: 200px;
    width: 20%;
    position: absolute;
}

.infoBlock1 {
    left: 52.5%;
}

.infoBlock2 {
    left: 75%;
}

.infoBlock3 {
    left: 5%;
    margin-top: 250px;
}

.infoBlock4 {
    left: 30%;
    margin-top: 250px;
}

.infoBlock5 {
    left: 52.5%;
    margin-top: 250px;
}

.infoBlock6 {
    left: 75%;
    margin-top: 250px;
}

/* infoEnd */

.aboutUs {
    width: 100%;
    height: 500px;
}

.aboutUsInfo>h2 {
    padding-top: 100px;
}

.aboutUsContainer {
    border: 1px solid black;
    width: 1440px;
    margin: auto;
    height: 500px;
}

.photoHospital {
    float: left;
    margin-top: 50px;
    margin-left: 5%;
}

/* about Us end*/


.news {
    width: 100%;
    background: lightskyblue;
}

.newsContainer {
    width: 1440px;
    border: 1px solid orange;
    height: 750px;
    margin: auto; 
    text-align: center;
    position: relative;
}

.newsContainer>h2 {
    padding-top: 50px;
}

.newsBlock {
    width: 25%;
    height: 200px;
    border: 1px solid red;
    position: absolute;
    margin-top: 100px;
}

.newsBlock1 {
    left: 5%;
}

.newsBlock2 {
    left: 40%;
}

.newsBlock3 {
    left: 70%;
}

.newsBlock4 {
    left: 5%;
    top: 320px;
}

.newsBlock5 {
    left: 40%;
    top: 320px;
}

.newsBlock6 {
    left: 70%;
    top: 320px;
}

/* news End */

.viber {
    width: 100%;
}

.viberContainer {
    width: 1440px; 
    border: 1px solid brown;
    margin: auto;
    height: 500px;
}

.viberImage {
    float: right;
    margin-right: 5%;
}

/* viber end */

.medicalPersonal {
    width: 100%;
    background: skyblue;
}

.medicalPersonalContainer {
    width: 1440px; 
    height: 700px;
    margin: auto;
    text-align: center;
    position: relative;
}

.medicalPersonalContainer>h2 {
    padding-top: 50px;
    margin-bottom: 50px;
}

.medicalPersonalBlock {
    height: 400px;
    width: 30%;
    border: 1px solid red;
    position: absolute;
    background: white;
}

.medicalPersonalBlock>img {
    width: 95%;
    margin-top: 10px;
}

.medicalPersonalBlock1 {
    left: 2.5%;
}

.medicalPersonalBlock2 {
    left: 35%;
}

.medicalPersonalBlock3 {
    left: 67.5%;
}

.buttonBlockMedicalMore {
    background: red;
    position: absolute;
    width: 10%;
    left: 45%;
    bottom: 100px;
}

/* personal End */

.mostAsk {
    width: 100%;
}

.mostAskContainer {
    width: 1440px;
    margin: auto;
    height: 500px;
    text-align: center;
    position: relative;
}

.mostAskContainer>h2 {
    margin-top: 50px;
}

.ask {
    height: 400px;
    margin-top: 50px;
    width: 35%;
    border: 1px solid black;
    position: absolute;
}

.ask>img {
    margin-top: 30px;
}

.ask1 {
   left: 10%;
}

.ask2 {
    right: 10%;
}

/* ask End */

footer {
    width: 100%;
    background: #0357ab;
    position: relative;
    color: white;
    text-align: center;
}

.footerContainer {
    width: 1440px;
    height: 300px;
    margin: auto;
    position: relative;
}

.contactFooter>p {
    float: left;
    width: 30%; 
    border: 1px solid white;
    margin-left: 2.5%;
    margin-top: 30px;
}

.copyrightLane {
    border-bottom: 2px solid white;
    position: absolute;
    width: 100%;
    bottom: 50px;
}

.copyright {
    padding-bottom: 20px;
}