

@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

body, html {
    font-family: 'Lato Regular';
    overflow-x:hidden;
}





.hospitalLogo {
    width: 100%;
    height: 650px;
    border: 1px solid rgba(255, 0, 0, 0); /* border ? */
    margin-top: 70px;
    background: url('../img/hospitalLogo.jpg');
    background-size: 100% 650px;
}

.hospitalLogoContainer {
    width: 100%;
    margin: auto;
}

.aboutSite {
    width: 100%;
    height: 450px;
    margin: auto;
    margin-top: 100px;
    position: relative;
}

.aboutSite>p {
    margin-left: 180px;
    margin-top: 50px;
    color: #0655a2;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 100px;
    line-height: 75px;
}

.button3 {
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    border-radius: 25px;
    background: red;
    color: #ffffff;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    text-align: center;
    margin-left: 180px;
}

.button3:hover {
    background: rgb(255, 60, 0);
}

.button4 {
    border: 3px solid #0655a2;
    width: 247px;
    height: 47px;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    border-radius: 25px;
    color: #0655a2;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    text-align: center;
}

.button4:hover {
    border: 3px solid #0093c0;
}

.aboutNavLeft {
    position: absolute;
    left: 20px;
    top: 125px;
    width: 80px;
    height: 80px;
    background: url('../img/left.png');
    background-size: 80px;
}



.aboutNavRight {
    position: absolute;
    right: 20px;
    top: 125px;
    width: 80px;
    height: 80px;
    background: url('../img/right.png');
    background-size: 80px;
}


/* hospitalLogoEnd*/

.info {
    width: 100%;
    position: relative;
}

.infoContainer {
    max-width: 1440px;
    min-height: 700px;
    margin: auto;
    margin-top: 50px;
  /*  border: 2px solid orange; */
    position: relative;
}

@media (max-width: 1280px) {
    .infoContainer {
        height: 600px;
    }
}

.pulsImage1 {
    width: 250px;
    height: 150px; 
    position: absolute;
    background: url('../img/puls.png');
    background-size: 300px 150px;
    top: 450px;
    left: -250px;
}

.pulsImage2 {
    width: 250px;
    height: 150px; 
    position: absolute;
    background: url('../img/puls.png');
    background-size: 300px 150px;
    right: -250px;
    top: 150px;
}

.mainInfoBlock {
    height: 300px;
    width: 43.75%;
    position: absolute;
    left: 3.75%;
    box-shadow: 0px 3px 2px 3px rgb(206, 205, 205);
    border: 1px solid rgb(187, 187, 187);
    background: url('../img/doctor.png');
    background-size: 500px 300px;
    background-position: right;
    background-repeat: no-repeat;
}

@media (max-width: 1280px) {

.mainInfoBlock {
    height: 250px;
}
}

.mainInfoBlock>img {
    height: 300px;
    width: 80%;
    float: right;
}

.mainInfoBlock>h2 {
    color: red;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 20px;
    margin-top: 50px;
}

@media (max-width: 1280px) {

    .mainInfoBlock>h2 {
        font-size: 30px;
    }

}

.mainInfoBlock>p {
    color: gray;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 20px;
    margin-top: 10px;
}

.button5 {
    width: 220px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    line-height: 45px;
    border-radius: 25px;
    background: red;
    color: #ffffff;
    position: absolute;
    text-align: center;
    left: 20px;
    bottom: 20px;
}

.infoBlock {
    height: 300px;
    width: 20%;
    position: absolute;
    box-shadow: 0px 3px 2px 3px rgb(206, 205, 205);
    border: 1px solid rgb(187, 187, 187);
}

@media (max-width: 1280px) {

    .infoBlock {
        height: 250px;
    }
    }

.infoBlock1 {
    left: 51.25%;
    background: url('../img/moz.png');
    background-size: 20% 20%;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 20px;
    position: absolute;
}

.infoH3 {
    margin-top: 100px;
    margin-left: 20px;
}

.infoP {
    color: gray;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

.infoButton1 {
    width: 80%;
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 42px;
    outline: 3px solid gray;
    border-radius: 25px;
    color: black;
    font-weight: bolder;
    float: right;
    position: absolute;
    bottom: 20px;
    left: 10%;
}

@media (max-width: 1280px) {
    .infoButton1 {
        height: 30px;
        line-height: 32px;
    }

    .infoP {
        margin-top: 10px;
        font-size: 14px;
    }

    .infoH3 {
        margin-top: 90px;
        font-size: 20px;
    }
}


.infoButton1:hover {
    color: #ffffff;
    background: red;
    outline: none;    
}

.infoBlock2 {
    left: 75%;
    background: url('../img/dog.png');
    background-size: 20% 20%;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 20px;
}

.infoBlock3 {
    left: 3.75%;
    margin-top: 350px;
    background: url('../img/hospital.png');
    background-size: 20% 20%;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 20px;
}

.infoBlock4 {
    left: 27.5%;
    margin-top: 350px;
    background: url('../img/viber2.png');
    background-size: 20% 20%;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 20px;
}

.infoBlock5 {
    left: 51.25%;
    margin-top: 350px;
    background: url('../img/news.png');
    background-size: 20% 20%;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 20px;
}

.infoBlock6 {
    left: 75%;
    margin-top: 350px;
    background: url('../img/vaccine.png');
    background-size: 20% 20%;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 20px;
}

@media (max-width: 1280px) {

    .infoBlock3, .infoBlock4, .infoBlock5, .infoBlock6 {
        height: 250px;
        margin-top: 300px;
    }
    }

/* infoEnd */

.aboutUs {
    width: 100%;
    height: 500px;
    font-size: 18px;
}

.aboutUsInfo>h2 {
    padding-top: 80px;
    color: red;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
}

.aboutUsMoreButton {
    width: 220px;
    height: 50px;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
    line-height: 50px;
    border: 3px solid gray;
    border-radius: 25px;
    color: black;
    float: left;
    margin-top: 50px;
}

.aboutUsContainer {
    max-width: 1440px;
    margin: auto;
    height: 450px;
    background: url('../img/plus.png');
    background-repeat: no-repeat;
    background-size: 250px 250px;
    background-position-x: 9000px;
    background-position-y: 100px;
}

.photoHospital {
    float: left;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 20px;
}

@media (max-width: 1280px) {
    .aboutUsContainer {
    background-position-x: 720px;
    }
}

/* about Us end*/


.news {
    width: 100%;
    background: url('../img/newsBack1.png');
    background-size: 100% 100%;
}

.newsContainer {
    max-width: 1440px;
    height: 750px;
    margin: auto; 
    text-align: center;
    position: relative;
}

.newsContainer>h2 {
    padding-top: 30px;
    color: red;
    font-size: 35px;
    font-weight: bolder;
    width: 300px;
    margin: auto;
    position: relative;
}

.colorW {
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    top: 20px;
}

.newsBlock {
    width:25%;
    height: 35%;
    box-shadow: 0px 1px 4px 3px rgb(155, 155, 155);
    float: left;
    margin-top: 50px;
    margin-bottom: 30px;
    position: absolute;
    color: #ffffff;
}

@media (max-width: 1280px) {
    .newsBlock {
        height: 250px;
    }
}


.newsBlock1 {
    left: 3.3%;
    background: #ffffff url('../img/biotech.jpeg');
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 18px;
}

.newsBlock2 {
    left: 36.6%;
    background: #ffffff url('../img/liki.jpg');
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 18px;
}

.newsBlock3 {
    left: 69.9%;
    background: #ffffff url('../img/contact-center.jpg');
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 18px;
}

.newsBlock4 {
    left: 3.3%;
    top: 380px;
    background: #ffffff url('../img/heal.jpg');
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 18px;
}

.newsBlock5 {
    left: 36.6%;
    top: 380px;
    background: #ffffff url('../img/backheal.jpg');
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 18px;
}

.newsBlock6 {
    left: 69.9%;
    top: 380px;
    background: #ffffff url('../img/lep.jpg');
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 18px;
}

.dateNews {
    background: #0357ab;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    position: absolute;
    right: 5px;
    top: 5px;
}

.imgBlueBack {
    width: 100%;
    height: 70px;
    background: url('../img/backNewsBlock.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 10%;
}

.newsH3 {
    font-weight: bold;
    display: inline-block;
    margin-top: 2.5%;
}

.newsP {
    font-size: 16px;
    margin-top: 10px;
}


/* news End */

.viber {
    width: 100%;
}

.viberContainer {
    max-width: 1440px; 
    border: 1px solid #ffffff; /* &&& delete border */
    margin: auto;
    height: 500px;
}

.viberContainer>h2 {
    color: red;
    margin-top: 100px;
    margin-left: 500px;
    font-weight: bold;
    font-size: 25px;
}

.viberContainer>p {
    margin-top: 50px;
    margin-left: 500px;
    color: #494949;
    font-size: 20px;
}

.viberImage {
    float: left;
    width: 420px;
    height: 444px;
    margin-top: 30px;
    margin-left: 0px;
}

.buttonMoreViber {
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    background: #8f5db7;
    border: 3px solid #59267c;
    border-radius: 25px;
    color: black;
    float: left;
    margin-top: 50px;
    margin-left: 70px;
    color: white;
}

/* viber end */

.medicalPersonal {
    width: 100%;
    background: url('../img/aboutDoctorBack.png');
}

.medicalPersonalContainer {
    max-width: 1440px; 
    min-height: 500px;
    margin: auto;
    text-align: center;
    position: relative;
}

.medicalPersonalContainer>h2 {
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    color: red;
    font-weight: bolder;
}

.medicalPersonalBlock {
    height: 30vw;
    min-height: 350px;
    width: 30%;
    box-shadow: 0px 3px 2px 3px rgb(155, 155, 155);
    background: white;
    background-image: url('../img/plus.png');
    background-size: 35% 35%;
    background-repeat: no-repeat;
    background-position: center 90%;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 1%;
    margin-right: 1%;
}

@media (min-width: 1440px) {
    .medicalPersonalBlock {
        height: 432px;
        color: red;
    }
}

@media (min-width: 1280px) {
    .medicalPersonalBlock {
        min-height: 380px;
    }
}

.medicalPersonalBlock>h3 {
    color: red;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 30px;
}

.medicalPersonalBlock>p {
    font-weight: bold;
    font-size: 16px;
    color: #494949;
}

.medicalPersonalBlock>p:last-child {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
}

.medicalPersonalBlock>img {
    width: 95%;
    margin-top: 10px;
}

.medicalPersonalBlock1 {
    left: 2.5%;
}

.medicalPersonalBlock2 {
    left: 35%;
}

.medicalPersonalBlock3 {
    left: 67.5%;
}

.leftSquare {
    position: absolute;
    bottom: 68px;
    left: 38%;
    width: 50px;
    height: 50px;
}

.buttonBlockMedicalMore {
    position: absolute;
    left: 42.5%;
    bottom: 70px;
    width: 15%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    border: 3px solid #5e5e5e;
    border-radius: 25px;
    color: #5e5e5e;
}



/* personal End */

.mostAsk {
    width: 100%;
}

.mostAskContainer {
    max-width: 1440px;
    margin: auto;
    height: 500px;
    text-align: center;
    position: relative;
    font-size: 16px;
}

.mostAskContainer>h2 {
    margin-top: 50px;
    font-weight: bolder;
    font-size: 25px;
    color: red;
}

.askBlock1 {
    position: absolute; 
    width: 45%;
    margin-left: 2.5%;
    margin-top: 40px;
}

.askBlock2 {
    position: absolute; 
    width: 45%;
    margin-left: 52.5%;
    margin-top: 40px;
}

.ask {
    height: 40px;
    margin-bottom: 40px;
    width: 90%;
    background: #2483ff;
    margin-left: 5%;
    font-weight: bolder;
    line-height: 45px;
    color: #ffffff;
}

.ask:hover {
    outline: 3px solid #5e5e5e;
}

.askCircle {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 20px;
    margin-top: 12px;
}

/* ask End */



@media (max-width: 600px) {

    .hospitalLogo {
        margin-top: 0px;
        height: 280px;
    }

    .aboutNavLeft, .aboutNavRight {
        display: none;
    }

    .aboutSite {
        margin-top: -40px;
        text-align: center;
    }

    .aboutSite>p {
        font-size: 20px;
        margin-left: 0px;
    }

    .button3, .button4 {
        display: none;
    }
 
    .mainInfoBlock {
        float: left;
        width: 300px;
    }

    .infoBlock3, .infoBlock4, .infoBlock5, .infoBlock6 {
        display: inline-block;
    }

    .infoBlock {
        float: left;
        width: 300px;
    }


    }   

